.search {
  padding: 6px;
}

.search__input {
  background-color: transparent;
  color: var(--misty-rose);
  border: none;
  width: 250px;
  font-size: 15px;
  padding: 8px 5px 10px 10px;
  border-radius: 10px;
  background-color: rgba(58, 44, 49,0.3);
}

@media (min-width: 768px) {
  .search {
    padding: 9px 0;
  }

  .search__input {
    width: 280px;
    font-size: 18px;
  }
}