.header {
  background-color: var(--magenta-dye);
}

.header__brand {
  float: left;
  margin: 20px 0;
  margin-left: 10px;
}

.header__link {
  font-size: 30px;
  text-decoration: none;
  color: var(--misty-rose);
}

.header .header__searchbar {
  margin-left: 10px;
  float: left;
  position: relative;
  bottom: 12px;
}

.header__search {
  display: block;
  width: 100%;
  float: left;
}

@media (min-width:768px){
  .header__link {
    font-size: 35px;
  }

  .header__brand {
    margin-left: 12px;
  }

  .header .header__searchbar {
    float: right;
    width: 100%;
    bottom: 0px;
    top: 15px;
  }

  .header__search {
    float: right;
    width: 400px;
  }
}